  ```python
  # {{ project_module_name }}/__init__.py
  """{{ project_name }} - {{ description }}"""

  __version__ = "{{ project_version }}"

  # You can define package-level variables or imports here if needed
```
